@page
@model Namespace.appointments

@{
    ViewData["Title"] = "Appointments";
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/appointments.css"> <!-- Link to the CSS file -->
    <link rel="stylesheet" href="~/css/datepicker.css"> <!-- Link to the CSS file -->
    
    <script src="~js/jsCalendar.js"></script>
</head>

<body id="appointmentsPage">
    <h1>@ViewData["Title"]</h1>

    <section>
        <h2>My Appointments</h2>

        @if (Model.Appointments != null && Model.Appointments.Any())
        {
            foreach (var appointment in Model.Appointments)
            {
                <p>@appointment.appointmentDate: @appointment.appointmentTime</p>
            }
        }
        else
        {
            <p>You don't have any appointments.</p>
        }

        <h2>Select Service</h2>
        <ul id="serviceList">
            @foreach (var serviceName in Model.ServiceNames)
            {
                <li id="@serviceName" class="serviceItem" style="cursor:pointer;">@serviceName</li>
            }
        </ul>

        <input type="hidden" id="selectedService" />
    </section>
    <div id="blurOverlay"></div>
    <div id="dialog" title="Select a date" style="display:none;">
        <i class="fas fa-times close-btn" style="cursor:pointer;"></i>
        <div id="dialog-content">
            <div id="datepicker"></div>
            <div id="table-container">
                <table id="appointments-table"></table>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/js/calendar.js"></script> <!-- Link to the JavaScript file -->
    <script src="~/js/appointments.js"></script> <!-- Link to the JavaScript file -->
</body>

</html>
